#app {
  width: 400px;
  height: 160px;
  > span {
    color: var(--text-color);
    -webkit-text-stroke: 3px black;
    text-shadow: 0 3px 0 #000;
    font-size: var(--text-size);
    padding: 0 1rem;
    margin-top: 12px;
    vertical-align: middle;
    line-height: 1;
  }
}
